.st {
    
    border: 0 !important;
    font-size: 11px;
  
}

.modal {
    
    font-size: 11px;
    
}

.modal span {
    
    padding-right: 2px !important;
    padding-left: 2px !important;
    
}

.st button, 
.modal button {
    
    font-size: 11px;
    
}

.leaflet-container {
    
    caret-color: transparent !important;
    
}

.leaflet-container input[type=text] {
    
    caret-color: blueviolet;
    
}

.st-console {
    
    width: 320px;
    height: 420px;
    float: left;
    background-color: #fff;
    color: #000;
    opacity: 0.9;
    z-index: 1001;
    overflow-y: scroll;
    padding: 12px;
    border: 1px solid aquamarine;
    border-radius: 2px;
    
}

@media only screen and (max-width: 390px) {
    
  /* For mobile phones: */
  .st-console {
      
        width: 240px;
    
  }
  
}

.st-panel-show-hide  {
    
    width: 35px;
    height: 35px;
    background-image: url('../img/arrows.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
    z-index: 1001;
    
}

.st-btns {
    width: 40px;
    float: left;
    font-size: 9px !important;
    caret-color: transparent;
}

.st-btns div:hover {
    background-color: #E3F1ED !important;
}

.st-container {
    
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    
}

.st-modal-message {
    
    width: 350px;
    height: auto;
    padding: 20px;
    z-index: 100001;
    background-color: #ffffff;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    border: 1px solid #ff7800;
    font-size: 12px;
    
}

.st-info-console input {
    
    margin-right: 3px;
    margin-left: 3px;
    
}

.st-modal-properties-form {
    
    font-size: 12px;
    width: 100%;
    height: auto;
    padding: 20px;
    z-index: 10003 !important;
    background-color: #ebf5f7;
    border-radius: 2px;
    position: absolute;
    border: 1px solid antiquewhite;
  
}

.st-modal-upload {
    
    font-size: 12px;
    width: 100%;
    height: auto;
    z-index: 10003 !important;
    background-color: #ebf5f7;
    border-radius: 2px;
    position: absolute;
    border: 1px solid antiquewhite;
    
}


.st-modal-container {
    font-size: 12px;
    padding: 30px;
    background-image: url('../icon.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: right 0% top 0%;
}

.st-modal-container input[type='text'] {
    
    border: 1px solid #ff7800;
    
}

.st-select {
    
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px !important;
    padding: 5px;
    border: 1px solid #ff7800;
    background-color: #fff;
    height: auto !important;
    width: 150px;
    
}

.st-textarea {
    
    padding: 5px;
    caret-color: blueviolet;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #ff7800;
    width: 100%;
    height: 150px;
    
}

.modal input[type='text'] {
    
    border: 1px solid #ff7800;
    
}

.modal button:hover, .st button:hover, .st-modal-container button:hover {
    
    cursor: pointer;
    
}

.st-enable {
    
    background-color: #14fbcd !important;
    
}

.st-disable {
    
    background-color: #fff !important;
    
}

.st-visibility-hide {
    
    visibility: hidden;
    
}

.st-visibility-visible {
    
    visibility: visible;
    
}

.st-display-block {
    
    display: block;
    
}

.st-display-none {
    
    display: none;
    
}

.st-items-founds {
    
    position: absolute;
    background-color: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    padding: 10px;
    max-height: 200px;
    overflow: scroll;
    z-index: 999;
    width: 250px;
    display: none;
    
}

.st-item-found-p {
    
    display: none;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid orange;
    
}

.st-item-found-span {
    
        font-size: 12px;
        color: #4967be;
        cursor: pointer;
}

.st-item-found-span:hover {
    
    font-weight: bold;
    
}

.st-btn {
    font-size: 12px;
    border: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 5px;
    text-overflow: ellipsis;
    max-width: 300px;
    border-radius: 2px;
}

.st-btn-default {
    background-color: #3c3c56; 
    color: #fff;
}

.st-btn-primary {
    background-color: #702aa7; 
    color: #fff;
}

.st-btn-success {
    background-color: #ff5500; 
    color: #fff;  
}

.st-btn-info {
    background-color: #147dfb; 
    color: #fff;    
}

.st-btn-white {
    background-color: #FFFFFF; 
    color: #222328;
}

.st-btn-transparent {
    background-color: rgba(0,0,0,0); 
    color: #334290;  
}

.st-btn-danger {
    background-color: #E71B1B; 
    color: #fff;
}

.st-h1 {
    
    font-size: 17px !important;
    font-weight: bold;
   
}

.st-h2 {
    
    font-size: 15px !important;
    font-weight: bold;
    
}

.st-h3 {
    
    font-size: 12px !important;
    font-weight: bold;
    
}

.st-h4 {
    
    font-size: 13px !important;
    font-weight: bold;
    
}

.st-h5 {
    
    font-size: 12px !important;
    font-weight: bold;
    
}

.st-h6 {
    
    font-size: 11px !important;
    font-weight: bold;
    
}

.st-text-info {
    
    color: #353437;
    background-color: #c8cf39;
    padding: 10px;
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    border-radius: 2px;
    
}

.st-input-range {
    
    position: relative;
    top: 6px;
    margin-right: 5px;
    margin-left: 5px;
    
}

.st-div-20 {
    
    width: 20%;
    float: left;
    
}

.st-div-25 {
    
    width: 25%;
    float: left;
    
}

.st-div-33 {
    
    width: 33%;
    float: left;
    
}

.st-div-40 {
    
    width: 40%;
    float: left;
    
}

.st-div-50 {
    
    width: 50%;
    float: left;
    
}

.st-div-60 {
    
    width: 60%;
    float: left;
    
}

.st-div-66 {
    
    width: 66%;
    float: left;
    
}

.st-div-75 {
    
    width: 75%;
    float: left;
    
}

.st-div-100 {
    
    width: 100%;
    
}

@media only screen and (max-width: 768px) {
    
  /* For mobile phones: */
  [class*="st-div-"] {
      
    width: 100%;
    
  }
  
}

.st-input {
    height: auto !important;
    font-size: 12px !important;
    border-radius: 2px;
    border: 0;
    padding: 5px !important;
    margin-right: 5px;
    margin-left: 5px;
}

.st-input-25 { 
    width: 25px !important; 
}

.st-input-50 {   
    width: 50px !important;
}

.st-input-75 {  
    width: 75px !important; 
}

.st-input-100 { 
    width: 100px !important;
}

.st-input-125 {
    width: 125px !important;   
}

.st-input-150 {
    width: 150px !important;
}


.st-input-175 {   
    width: 175px !important;  
}

.st-input-200 {
    width: 200px !important;
}

.st-input-250 {
    width: 250px !important;
}

.st-input-300 {
    width: 300px !important;  
}

/* For desktop: */
.w-col-1 {width: 8.33%; float: left;}
.w-col-2 {width: 16.66%; float: left;}
.w-col-3 {width: 25%; float: left;}
.w-col-4 {width: 33.33%; float: left;}
.w-col-5 {width: 41.66%; float: left;}
.w-col-6 {width: 50%; float: left;}
.w-col-7 {width: 58.33%; float: left;}
.w-col-8 {width: 66.66%; float: left;}
.w-col-9 {width: 75%; float: left;}
.w-col-10 {width: 83.33%; float: left;}
.w-col-11 {width: 91.66%; float: left;}
.w-col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    
  /* For mobile phones: */
  [class*="w-col-"] {
      
    width: 100%;
    
  }
  
}

/* special_tools_catastro */
.st-catastro {

    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
    
}
/* special_tools_catastro */

/* special_tools_geolocation */
.st-geolocation {
    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-image: url('../img/geolocation.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
}
/* special_tools_geolocation */


/* special_tools_legend */
.st-legend {
    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-image: url('../img/legend.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
}

.st-legend-div {
    
    width: 600px;
    height: auto;
    background-color: #ffffff;
    padding: 6px;
    position: absolute;
    opacity: 0.8;
    display: none;
    border-radius: 3px;
    
}

@media only screen and (max-width: 1024px) {
    
  /* For mobile phones: */
  .st-legend-div {
      
        display: none;
    
  }
  
}

.st-legend-name {
    
    font-size: 13px;
    font-weight: bold;
}

.st-column-name {
    
    font-size: 12px;
    font-weight: bold;
    color: #62616d;
    margin-top: 8px;
    
}

.st-legend-element-name {
    
    font-size: 11px;
    float: left;
    padding-left: 3px;
    
}

.st-column-div {
    
    width: 33%;
    float: left;
}
/* special_tools_legend */

/* special_tools_map_image_download */
.st-map-image-download {
    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
}
/* special_tools_map_image_download */

/* special_tools_objects */
.st-objects {
    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-image: url('../img/layer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
}
/* special_tools_objects */

/* special_tools_onexone */
.st-oneXone {
    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
}
/* special_tools_onexone */

/* special_tools_roman_empire */
.st-roman-empire {
    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-image: url('../img/greek-temple.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
}
/* special_tools_roman_empire */

/* special_tools_UA_es */
.st-button-UA {
    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
}

.st-menu-UA {
    z-index: 1001;
    position: relative;
}
/* special_tools_UA_es */

/* special_tools_upload */
.st-upload {
    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-image: url('../img/upload-black.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
}
/* special_tools_upload */

/* special_tools_wms */
.st-WMS {
    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
}
/* special_tools_wms */

/* special_tools_xyz */
.st-XYZ {
    width: 35px;
    height: 35px;
    padding: 2px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    line-height: 28px !important;
    cursor: pointer;
}
/* special_tools_xyz */

.slbImage {
    
    border-radius: 2px !important;
    
}

